version: "3"

services:
  # -------------------- CanvasBoard APIs Express Container -------------------- #

  fox-stress:
    image: "fox-stress-backend"
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: fox-stress-backend
    environment:
      PORT: 4000
    ports:
      - "4000:4000"
    networks:
      - docker_net
    volumes:
      - '/home/goli/Desktop/fox-stress/backend:/app'
      # - "/c/Users/akash/Desktop/fox-stress/backend:/app"

    restart: unless-stopped

networks:
  docker_net:
    driver: bridge
